# first list the packages you wish to download from PyPI
git+https://github.com/TeachBooks/TeachBooks.git@develop
sphinx-tudelft-theme
jupyterbook_patches
sphinx-image-inverter
sphinx-named-colors

# Now list the packages you want to download directly from GitHub
git+https://github.com/TeachBooks/Sphinx-Thebe

docutils==0.17.1
