# first list the packages you wish to download from PyPI
teacherbooks @ https://github.com/TeachBooks/TeachBooks@BSchilperoort:optional-sidebar-admon
numpy
sympy
matplotlib
sphinx-tudelft-theme
jupyterbook_patches
sphinx-image-inverter
sphinx-named-colors

# now list the packages (and the respective url) you wish to download from the GitLab package registry
--extra-index-url https://gitlab.tudelft.nl/api/v4/projects/11239/packages/pypi/simple
sphinx-thebe ~= 0.9.9

docutils==0.17.1